{% extends 'common/panel.html' %}
{% load humanize %}
{% load set_var %}
{% load percentage %}
{% load deslug %}
{% load flatblock_tags %}
{% block title %}{{instance.name}}{% endblock title %}
{% block panel %}

{% block progress %}
<input type="hidden" id="selected_progress_url" value="{% url analysis-progress instance.uid %}" />
{% if not instance.done %}
<div class="alert alert-info" 
     data-bind="visible: !done(), css: {'alert-error': error(), 'alert': !error()}">
    <div id="scenario_progress_html">
        <p data-bind="html: progressHtml"><!-- {{ instance.status_html|safe }} --></p>
    </div>
    <div class="progress progress-striped active" data-bind="visible: !error()">
        <div class="bar" data-bind="style: { width: progressBarWidth() }"></div>
    </div>
</div>
{% endif %}
{% endblock progress %}

{% if instance.expired %}
<div class="alert alert-error"> <i style="float:left; margin: 5px;" class="icon-exclamation-sign"></i> {% flatblock 'scenario-expired-message' 3600 %}</div>
{% endif %}

<div class="tabbable">
    <ul class="nav nav-tabs" style="margin-bottom:0px;">
        <li class="active"><a href="#Inputs" class="report-tab" id="tab-report-inputs" data-toggle="tab"><span>{% flatblock 'show-inputs' 3600 %}</span></a></li>
        {% if instance.done %}
            <li><a href="#species" class="report-tab" id="tab-report-species" data-toggle="tab"><span>{% flatblock 'show-conservation-features' 3600 %}</span></a></li>
            <li><a href="#watersheds" class="report-tab" id="tab-report-pus" data-toggle="tab"><span>{% flatblock 'show-planning-units-tab' 3600 %}</span></a></li>
            {% if show_raw_costs %}
            <!-- <li><a href="#costs" data-toggle="tab"><span>{% flatblock 'show-total-costs' 3600 %}</span></a></li> -->
            {% endif %} 
            {% if show_aux %}
                <li><a href="#aux" data-toggle="tab"><span>{% flatblock 'show-aux' 3600 %}</span></a></li>
            {% endif %}
            <li><a href="#surrogate" data-toggle="tab"><span>{% flatblock 'show-surrogate' 3600 %}</span></a></li>
        {% endif %}
    </ul>

    {% set results = instance.results %}
    <div class="tab-content tab-content-show">

        <div id="Inputs" class="tab-pane active">
            <div>
             <h4>{% flatblock 'targets' 3600 %}</h4>
             <table class="table interactive-table" id="inputs-table">
             <thead> 
                 <tr>
                    <th>{% flatblock 'show-conservation-features' 3600 %}</th>
                    {% if slider_mode == "single"%}
                        <th> {% flatblock 'relative-importance' 3600 %}</th>
                    {% elif slider_mode == "dual" %}
                        <th>{% flatblock 'target' 3600 %}</th>
                        <th>{% flatblock 'penalty' 3600 %}</th>
                    {% endif %}
                </tr>
             </thead>
             <tbody>
                {% load multiply %}
                {% for k,v in results.targets_penalties.items %}
                <tr class="{% if v.target > 0 %}targeted{% else %}not-targeted{% endif %}"> 
                    <td>{{v.label}}</td>
                    {% if slider_mode == "single"%}
                        <td>
                            <span class="hide" title="{{v.target}}"></span>
                            <span>{{v.target|percentage}}</span>
                            <span class="debug-only">(target:{{v.target|percentage}})</span>
                        </td>
                    {% elif slider_mode == 'dual' %}
                        <td> 
                            <span class="hide" title="{{v.target}}"></span>
                            <span>{{v.target|percentage}}</span>
                        </td>
                        <td> 
                            <span class="hide" title="{{v.penalty}}"></span>
                            <span>{{v.penalty|percentage}}</span>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
             </tbody>
             </table>

             <hr/>

            <h4>{% flatblock 'constraints' 3600 %}</h4>
             <table class="table">
             {%for k,v in results.costs.items %}
             {% if v > 0%}<tr><td> &#10003; {{k|deslug}}</td></tr> 
             {% else %}<tr class="debug-only"><td> &nbsp; <del>{{k}}</del></td></tr> 
             {% endif %} 
             {%endfor%}
             </table>
             
             <div class="debug-only">
                <h4>Scaling Factor</h4>
                <span>{{instance.input_scalefactor}}</span>
             </div>

            </div>
        </div>

        {% if instance.done %}

        <div id="watersheds" class="tab-pane">
            <div>
                <p>{% flatblock 'optimal-prioritization-scenario' 3600 %} includes {{results.num_units}} {% flatblock 'show-planning-units' 3600 %} covering {{results.area|floatformat:0|intcomma}} {% flatblock 'area-units' 3600 %}. {% flatblock 'show-explain-constraints' 3600 %}</p>

                <table class="table interactive-table" id="pu-table">
                <thead>
                    <tr>
                        <th> {% flatblock 'show-planning-units' 3600 %} </th> 
                        {%for k,v in results.units.1.costs.items %}
                            {% if v > 0 %}<th>{{k|deslug}}</th> {% endif %}
                        {%endfor%}
                    </tr>
                </thead>
                <tbody id="best-pus">
                    {% for w in results.units %}
                    <tr>
                        <td>
                            <span title="{{w.name}}"></span>
                            {{w.name}} 
                            <span class="hide centroid-x" data-coord="{{w.centroidx}}"></span>
                            <span class="hide centroid-y" data-coord="{{w.centroidy}}"></span>
                        </td>
                        {% for k,v in w.costs.items %}
                        <td>
                            <span class="hide" title="{{v.scaled}}"></span>
                            <span class="badge {% if v.class == 'low' %}badge-success{% elif v.class == 'med' %}badge-warning{% elif v.class == 'high' %}badge-important{% endif %}">
                                {{v.class}}
                                {% if show_raw_costs %}
                                : {{v.raw|floatformat:0|intcomma}}
                                {% endif %}
                            </span>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>

        {% if show_raw_costs %}
        <!--
        <div id="costs" class="tab-pane">
            <div>
                <h5>  Total Costs </h5>
                <dl>
                    {% for k,v in results.total_costs.items %}
                    <dt>{{k|deslug}}</dt><dd>{{v|floatformat:0|intcomma}}</dd>
                    {% endfor %}
                </dl>
            </div>
        </div>
        -->
        {% endif %} 

        {% if show_aux %}
        <div id="aux" class="tab-pane">
            <div>
                <h5> {% flatblock 'show-aux' 3600 %} </h5>
                {% for w in results.units %}
                <div class="row-fluid">
                    <span class="span4"><strong>{{w.name}}</strong></span>
                    {% for k,v in w.auxs.items %}
                    <span class="badge"> {{k}}: {{v}} </span>
                    {% endfor %}
                </div>
                {% endfor %}

            </div>
        </div>
        {% endif %}

        <div id="surrogate" class="tab-pane">
            <div>
                {% if results.surrogate %}

                <h4> {% flatblock 'show-surrogate' 3600 %} Metrics </h4>
                <br>
                <div class="alert alert-info">
                    {% flatblock 'surrogate-species-description' 36000 %}
                </div>
                <table class="table">
                    <tbody>
                         
                        <tr>
                            <th> Number of species targeted </th>
                            <td> {{results.surrogate.species_targeted}} </td>
                        </tr>
                        <tr>
                            <th> Number of non-targeted species missing </th>
                            <td> {{results.surrogate.species_missed}} </td>
                        </tr>
                        <tr>
                            <th> Number of non-targeted species under-represented (<em>below target of {{results.surrogate.avg_target|percentage}}</em>)</th>
                            <td> {{results.surrogate.species_under_represented}} </td>
                        </tr>
                        <tr>
                            <th> Number of non-targeted species adequately represented (<em>at or above target of {{results.surrogate.avg_target|percentage}}</em>)</th>
                            <td> {{results.surrogate.species_represented}} </td>
                        </tr>
                        <tr>
                            <th> Objective function score* (<em>lower is better</em>)</th>
                            <td> {{results.surrogate.objective_score|floatformat:2}} </td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    <strong>*</strong> {% flatblock 'surrogate-objective-description' 3600 %}
                </div>

                <br>
                <p> For further analysis, visit the <a target="_blank" style="text-decoration:underline;" href="/media/surrogate/graph/index.html">single-species surrogate chart</a>.</p>

                {% endif %}
            </div>
        </div>

        <div id="species" class="tab-pane">
            <div>
                <p>{% flatblock 'show-targets-explanation' 3600 %}</p> <p class="debug-only">Goals were met for {{results.num_met}} of {{results.num_species}} 
                        {% flatblock 'show-conservation-features' 3600 %}.</p>

                <table class="table interactive-table" id="species-table">
                    <thead>
                        <tr>
                            <th> Category </th>
                            <th> {% flatblock 'show-conservation-features' 3600 %} </th>
                            <th> {% flatblock 'show-percent-met' 3600 %}</th>
                            <th> Goal Met?</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for s in results.species %}
                        <tr class="{% if s.target == 0 or s.target_prop == 0 %}not-targeted{% else %}hit{% endif %}"> 
                            <td>{{s.level1}}</td>
                            <td>{{s.name}}</td>
                            <td> 
                                <span class="hide" title="{{s.pcttotal}}"></span>
                                <span>
                                    {% if s.target_prop > 0 %}
                                        {% if slider_show_raw %}
                                            {{s.held|floatformat:0|intcomma}} {{s.units}} ({{s.pcttotal|percentage:1}})
                                        {% else %}
                                            <strong>{{s.pcttotal|percentage:1}}</strong> of total {{s.units}}
                                        {% endif %} 
                                    {% else %}
                                        {{s.pcttotal|percentage:1}} of total {{s.units}}
                                    {% endif %}
                                </span>
                            </td>
                            <td> 
                                <span class="hide" title="{% if s.met %}1{% else %}0{% endif %}"></span>
                                {% if s.target == 0 %} n/a {% else %} 
                                    {% if s.met %}
                                        &#10003;
                                    {% else %} 
                                    <strong>No</strong><br/>(Goal was {{s.target_prop|percentage:0}})
                                    {% endif %} 
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        </div>
    </div>

    <script>
        var divHeight =  $(window).height() - 450; 
        // TODO where 150 is the fixed height of everything above and below the table, 
        // adjust until no vertical scrolling on the page.

        app.interactiveTables = {
            'inputsTable': null,
            'speciesTable': null,
            'puTable': null,
        };

        $(document).ready(function () {
            app.interactiveTables.inputsTable = $("table#inputs-table").dataTable({
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false,
                "bAutoWidth": false,
                "bPaginate": false,
                "sScrollY": divHeight + "px",
                "bScrollCollapse": true,
                "aaSorting": [[1, "desc"], [0, "asc"]],
                "aoColumnDefs": [{
                    "sType": 'title-numeric', 
                    "aTargets": [ 1{% if slider_mode == "dual" %}, 2{% endif %} ] 
                }]
            });

            app.interactiveTables.speciesTable = $("table#species-table").dataTable({
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": true,
                "bAutoWidth": true,
                "bPaginate": false,
                "sScrollY": divHeight + "px",
                "bScrollCollapse": true,
                "aaSorting": [[2, "desc"]],
                "aoColumnDefs": [
                    { "bVisible": {% if show_goal_met %}true{% else %}false{% endif %}, "aTargets": [ 3 ] }, 
                    { "sType": "title-numeric", "aTargets": [ 2, 3 ] } 
                ]
            });

            app.interactiveTables.puTable = $("table#pu-table").dataTable({
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": true,
                "bAutoWidth": true,
                "bPaginate": false,
                "sScrollY": divHeight + "px",
                "bScrollCollapse": true,
                "aoColumnDefs": [
                    { "sType": "title-numeric", "aTargets": ["_all"] }
                ]
            });

            var best = $('tbody#best-pus');
            best.find('tr').click( function(e) { 
                markers.clearMarkers();
                best.find('tr.highlighted-planningunit').removeClass('highlighted-planningunit');
                $(this).addClass('highlighted-planningunit');
                var x = $(this).find('td:first span.centroid-x').attr('data-coord');
                var y = $(this).find('td:first span.centroid-y').attr('data-coord');
                var lonLat = new OpenLayers.LonLat(x,y);
                markers.addMarker(new OpenLayers.Marker(lonLat));
                map.setCenter([x,y]);
            });

            // Have to explicitly draw tables that were hidden when dataTable was created.
            $('a[data-toggle="tab"].report-tab').on('shown', function (e) {
                e.preventDefault();
                // The newly selected tab 
                switch (e.target.id) {
                    case "tab-report-pus":
                        //app.interactiveTables.puTable.fnAdjustColumnSizing();
                        app.interactiveTables.puTable.fnDraw();
                        break;
                    case "tab-report-species":
                        app.interactiveTables.speciesTable.fnDraw();
                        break;
                    case "tab-report-inputs":
                        app.interactiveTables.inputsTable.fnDraw();
                        break;
                }
            });

        });
    </script>

{% endblock panel %}
