{% load flatblock_tags %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% flatblock "title" 3600 %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script type="text/javascript">
      var madrona = { features: {} }
    </script>

    <link href="{{MEDIA_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{MEDIA_URL}}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"> 
    {% load compressed %}{% compressed_css 'application' %}

    <script type="text/javascript" src="{{MEDIA_URL}}common/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}common/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}common/js/knockout-2.0.0.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}common/js/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}common/js/jPaq.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3.2&amp;sensor=false"></script>     
    {% load compressed %}{% compressed_js 'application' %}
    {% block scripts %}{% endblock scripts %}
    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="{{MEDIA_URL}}html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript">
        // Prevent IE from caching ajax requests
        // http://www.dashbay.com/2011/05/internet-explorer-caches-ajax/
        $.ajaxSetup({cache: false});
    </script>
    <link rel="shortcut icon" href="/media/common/img/favicon.ico">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
          <a class="brand" href="/">{% flatblock "title" 3600 %}</a>
          <div>
            <ul class="nav">
                <li data-bind="css: {'active': dataMode() == 'manage'}, click: switchMode.bind($data, 'manage')"><a href="/">{% flatblock "manage" 3600 %}</a></li>
                <li data-bind="css: {'active': dataMode() == 'shared'}, click: switchMode.bind($data, 'shared')"><a href="/">{% flatblock "shared" 3600 %}</a></li>
              <li><a href="/news/about/">Learn More</a></li>
              <li><a href="/help/">Get Help</a></li>
            </ul>
           <ul class="nav pull-right">
              {% if user.is_authenticated %}
              <li><a href="{% url user_profile-form user.username %}" class="load-in-panel" id="profile">{{ user.username }} </a></li>
              <li><a href="{% url user_signout %}">Sign Out</a></li>
              {% else %}
              <li><a href="{% url registration_register %}" id="register-navbar">Register</a></li>
              <li><a href="{% url user_signin %}" id="signin-navbar"> Sign In</a></li>
              {% endif %}                
            </ul>
          </div> <!-- /.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      {% block content %}{% endblock content %}
    </div>

  </body>
</html>
