{% extends 'common/base.html' %}
{% load flatblock_tags %}

{% block content %}
        <div class="row-fluid">
          <div class="span6">
            {% if user.is_authenticated %}
            <div id="scenario-html">
              <div class="row-fluid">
                <div>
                  <div class="row-fluid" id="row-scenarios-list" data-bind="visible: showScenarioList">
                    <div class="span3 well">
                      <p data-bind="visible: scenarioList().length == 0"> {% flatblock "new_explain_scenario" %} </p>
                      <button href="#" class="btn" data-bind="click: addScenarioStart">
                          <i class="icon-plus-sign"></i> Add Scenario
                      </button>
                      <br/>
                      <br/>
                      <h4><p data-bind="visible: scenarioList().length > 0">Scenario List</p></h4>
                      <ul class="nav nav-tabs nav-stacked" data-bind="foreach: scenarioListPaginated">
                        <li data-bind="click: $parent.selectFeature, css: { active: $data === $parent.selectedFeature() }">
                          <a href="#" data-bind="text: name"></a>
                        </li>
                      </ul>
                      <div data-bind="if: scenarioList().length, visible: scenarioList().length > listDisplayCount">
                         <div class="pagination">
                            <ul data-bind="foreach: paginationList">
                              <li data-bind="click: $parent.setListIndex, 
                                             css: { 'active': $parent.listStart() === listIndex, 'disabled': displayIndex === '...' }">
                                <a href="#" data-bind="text: displayIndex, attr: { title: listIndex }"></a>
                              </li>
                            </ul>
                         </div>
                      </div>
                    </div>
                    <div class="span9 well" data-bind="visible: selectedFeature">
                      <div class="scenario-detail" data-bind="with: selectedFeature">
                        <div class="row-fluid">
                          <div class="btn-group pull-right">
                            <a href="#" class="btn btn-mini" data-bind="click: $parent.editScenario"><i class="icon-edit"></i> Edit</a>
                            <a href="#" class="btn btn-mini" data-bind="click: $parent.copyScenario"><i class="icon-tags"></i> Copy</a>
                            <a href="#" class="btn btn-mini" data-bind="click: $parent.downloadScenario"><i class="icon-download-alt"></i> Download</a>
                            <a href="#" class="btn btn-mini" data-bind="click: $parent.shareScenario"><i class="icon-retweet"></i> Share</a>
                            <a href="#" class="btn btn-mini" data-bind="click: $parent.showDeleteDialog"><i class="icon-remove"></i> Delete</a>
                          </div>
                          <h3><span data-bind="text: name"></span></h3>
                        </div>
                        <div class="row-fluid">
                          <div id="scenario-show-container" style="margin-top: 18px;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-fluid" data-bind="visible: showScenarioFormPanel">
                      <div class="span12 well">
                        <div class="pull-right">
                            <button href="#" class="btn" data-bind="click: cancelAddScenario">
                              <i class="icon-trash"></i> Cancel
                            </button>
                            <button href="#" class="btn btn-primary" data-bind="click: saveScenarioForm">
                              <i class="icon-file"></i> Save Scenario
                            </button>
                        </div>
                        <div id="scenarios-form-container" class="form-panel"></div>
                      </div>
                  </div>
                </div>
              </div> <!-- no properties -->
              <div class="modal" id="scenario-delete-dialog" style="display:none">
                <div class="modal-header">
                  <a class="close" data-dismiss="modal">×</a>
                  <h3>Delete Scenario</h3>
                </div>
                <div class="modal-body">
                  <div data-bind="if: selectedFeature()">
                   Are you sure you want to delete "<span data-bind="text: selectedFeature().name"></span>"?
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn" data-bind="click: closeDialog">cancel</a>
                  <a href="#" class="btn btn-danger" data-bind="click: deleteFeature">Delete Scenario</a>
                </div>
              </div>
            </div>
            <!-- end of scenario pages -->
            {% else %}
              <div class="well"> 
               <div class="row-fluid">
                {% flatblock "home_text" %}
                <p><em>You currently not logged in to {% flatblock "title" %}.</em></p>
                <ul>
                    <li><a class="btn btn-mini" href="{% url registration_register %}" id="register">Register</a> for an account <br/> or</li>
                  <li><a class="btn btn-mini" href="{% url user_signin %}" id="signin">Sign In</a> to begin creating scenarios</li>                
                </ul>. 
              </div><!-- end of no properties -->
            </div>
            {% endif %}
          </div>
          <div class="span6">
            <div class="outermap well">
              <div id="map"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- end partial -->
  
    <script type="text/javascript">

    // namespace for app
    var app = {
      scenarios: {
        viewModel: new scenariosViewModel()
      }
    };

    {% if user.is_authenticated %}
        $.get('/features/{{user.username}}/workspace-owner.json', function (data) {
        app.workspace = data;
        });
    {% else %}
        $.get('/features/workspace-public.json', function (data) {
        app.workspace = data;
        });
    {% endif %}

    app.onResize = function () {
      $("#map").height($(window).height() * .85);
      map.render('map');
    };
    
    $(document).ready(function () {
      ko.applyBindings(app.scenarios.viewModel, document.getElementById('scenario-html'));
      app.scenarios.viewModel.loadScenarios();
      init_map();
      app.onResize();
      $(window).resize(app.onResize);
    });

    </script>
{% endblock content %}

{% block scripts %}
    <script src="{{ MEDIA_URL }}seak/js/scenario.js"></script>
    <script type="text/javascript">
      // Fake it
      var madrona = {
        features: {}
      }
    </script>
    <script type="text/javascript" src="{{MEDIA_URL}}features/js/workspace.js"></script>
    <script src="http://openlayers.org/dev/OpenLayers.js"></script>
{% endblock scripts %}
