########
# pip requirements file for oregon-marinemap
# this should install requirements particular to the oregon marinemap project
#
# NOTE:  See marinemap/marinemap_requirements.txt for the all other requirements related to the marinemap codebase.
#
#############

# IMPORTANT NOTE ON THE FOLLOWING DEPENDENCIES (and the PIL library)
# The PIL library is used by the dependencies listed below
# The 1.1.7 version of the PIL library contains a bug that has been fixed (https://bugs.launchpad.net/phatch/+bug/531728) 
# but this fix has not yet been added to a release.
# So long as the PIL library is not updated to a more recent version than the one listed above, the following fix should be implemented:
# In Image.py there exists a method called split (around line 1500)
# The line 'self.load()' should be moved from within the else statement to before the if statement.
# In other words, comment out self.load() on line 1501, and add that command to line 1496, right before the if self.im.bands.
# This fix prevents a "'NoneType' object has no attribute 'bands'" error that occurs because self.im is NoneType so long as 
# self.load() has not been called.

# Dependencies
html5lib>=0.9
reportlab>=2.4
pisa>=3.0.33
