django >= 1.4, <1.6
xlrd>=0.7.8
django-redis-sessions
python-memcached
modestmaps
django-celery<3.0.0
celery<=2.5.5
django-redis
redis
fabric
kombu
tilestache
#-e git+https://github.com/Ecotrust/madrona.git@master#egg=madrona
