.table tr.active {
    background: #E4AF87;
}

.outermap {
   padding: 3px !important;
}

.tab-content {
    background-color: #EDEDED;
    padding: 14px; 
    padding-top: 21px;
    border-bottom: 1px #DDD solid;
    border-left: 1px #DDD  solid;
    border-right: 1px #DDD solid;
}

.stand-detail div, .stand-detail table {
    padding-bottom: 0px;
}

.stand-detail .thumbnail h5 {
    text-align: center;
}
.stand-detail .vegetation {
    padding-bottom: 20px;
}
.hidden {
    display: none;
}

.olControlAttribution {
        bottom: 5px;
        font-size: 9px;
    }
#customZoom {
    z-index: 1001;
    position: relative;
    top: 10px;
    left: 10px;
}
#customZoom a {
    text-decoration: none;
    position: absolute;
    display: block;
    width: 50px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #369;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#customZoom a:hover {
    background: #036;
}
#customZoomOut {
    top: 25px;
}

body {
padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.olControlAttribution {
    bottom: 2px !important;
    font-size: 7pt !important;
}
img.olTileImage {
    max-width: 256px !important;
}
label.olButton {
    display: inline;
    float: none;
    padding: 9px 10px 11px;
    line-height: 19px;
    color: white;
    text-decoration: none;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#customZoom {
    z-index: 1001;
    position: relative;
    top: 100px;
    left: 190px;
}
#customZoom a {
    text-decoration: none;
    position: absolute;
    display: block;
    width: 50px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #369;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#customZoom a:hover {
    background: #036;
}
#customZoomOut {
    top: 25px;
}
