{% extends "common/panel.html" %}
{% load flatblock_tags %} 
{% block title %}{{title}}{% endblock %}
{% block panel %}

<script type="text/javascript" charset="utf-8">
    /*
    madrona.onShow(function(){

        var params_impute = function() {
            // If the input json is not null, 
            // Use them to restore the state of the tree
            if ($('#id_input_targets').val() && 
                $('#id_input_penalties').val() && 
                $('#id_input_relativecosts').val()) { 
                 
                //console.log("Restoring Costs slider state...");
                var in_costs = JSON.parse($('#id_input_relativecosts').val());
                $.each(in_costs, function(key, val) {
                    if (val > 0) {
                        $("#cost---" + key).attr('checked','checked')
                    } else {
                        $("#cost---" + key).removeAttr('checked')
                    }
                });

                //console.log("Restoring Targets slider state...");
                var in_targets = JSON.parse($('#id_input_targets').val());
                $.each(in_targets, function(key, val) {
                    $("#target---" + key).val(val);
                });

                //console.log("Restoring Penalties slider state...");
                var in_penalties = JSON.parse($('#id_input_penalties').val());
                $.each(in_penalties, function(key, val) {
                    $("#penalty---" + key).val(val);
                });

                // Restore tree state
                var already_done_clicks = [];
                $.each(in_targets, function(key, val) {
                    //remove the last '---blah' from the key
                    b = key.split('---');
                    b.pop();
                    var id = b.join('---');

                    // If not already done, do a click
                    if (already_done_clicks.indexOf(id) == -1) {
                        $('span#span---' + id).click();
                        already_done_clicks.push(id);
                    }
                });
            };
        }; 

        madrona.setupForm($('#featureform'));
        $("#focalspecies_tree").treeview({
            collapsed: true
        });

        $('input.slidervalue').click( function(e) {
            // Prevent tree from expanding 
            // when value input field is clicked
            e.stopPropagation();
        });

        params_impute();
       
        var params_collect = function() {
            var targets = {};
            var penalties = {};
            var costs = {};
            var totaltargets = 0;
            var totalpenalties = 0;
            $('.targetvalue:visible').each( function(index) {
                var xid = $(this).attr("id");
                var id = "#" + xid;
                xid = xid.replace(/^target---/,''); //  Remove preceding identifier
                xid = xid.replace(/---$/,''); // Remove trailing ---
                targets[xid] = parseFloat($(id).val());
                totaltargets += parseFloat($(id).val());
            });
            $('.penaltyvalue:visible').each( function(index) {
                var xid = $(this).attr("id");
                var id = "#" + xid;
                xid = xid.replace(/^penalty---/,''); //  Remove preceding identifier
                xid = xid.replace(/---$/,''); // Remove trailing ---
                penalties[xid] = parseFloat($(id).val());
                totalpenalties += parseFloat($(id).val());
            });
            // Initialize costs to zero
            $('input.costvalue[name="cost"]').each( function(index) {
                var xid = $(this).attr("id");
                xid = xid.replace(/^cost---/,''); //  Remove preceding identifier
                costs[xid] = 0;
            });
            // Set the *checked* costs to 1
            $('input.costvalue[name="cost"]:checked').each( function(index) {
                var xid = $(this).attr("id");
                xid = xid.replace(/^cost---/,''); //  Remove preceding identifier
                costs[xid] = 1;
            });
            $('#id_input_targets').val( JSON.stringify(targets) ); 
            $('#id_input_penalties').val( JSON.stringify(penalties) );
            $('#id_input_relativecosts').val( JSON.stringify(costs) );
            if (totalpenalties == 0 || totaltargets == 0) {
                return false;
            } else {
                return true;
            }
        };

        $('.slidervalue').each( function(index) {
            var id = $(this).attr("id");
            var slider_id = "slider_" + id;
            var maxval = 1;
            var minval = 0;
            stepval = 0.01;

            $('#' + slider_id).slider({
                range: 'min',
                min : minval, 
                max : maxval,
                step : stepval,
                change : function(event, ui) {
                    var theval = $(this).slider('value');
                    $('#' + id).val(theval);
                    $('div.slider[id^="' + slider_id + '---"]').each( function() {
                        $(this).slider('value', theval);
                    });
                },
                slide : function(event, ui) {
                    $('#' + id).val($(this).slider('value'));
                }
            });
            $('#' + slider_id).slider('value', $('#' + id).val());
            $('#' + id).change( function(){
                $('#' + slider_id).slider('value', $('#' + id).val());
            });
        });

        // We need to do additional checking so unbind
        $('.submit_button').die('click');
        $('.submit_button').unbind('click');
        // .. and rebind with a validation step
        $('.submit_button').click(function(event){ 
            var proceed = params_collect(); 
            if (proceed) {
                $('#featureform').trigger('submit');
            } else {
                alert("Please specify goals and importance for a least one species of interest. (Step 2)");
            }
        });

        $('#next_1to2').click( function(e) {
            if ($('input#id_name').val() == '') {
                alert("Please provide a name for this watershed prioritization scenario. (Step 1)");
            } else {
                $('#a_step2').click();
            }
        });
        $('#next_2to3').click( function(e) {
            $('#a_step3').click();
        });
        $('#prev_2to1').click( function(e) {
            $('#a_step1').click();
        });
        $('#prev_3to2').click( function(e) {
            $('#a_step2').click();
        });
        $('#a_step1').click( function(e) {
            $('.form_controls').hide();
            $('#controls_step1').show();
        });
        $('#a_step2').click( function(e) {
            $('.form_controls').hide();
            $('#controls_step2').show();
        });
        $('#a_step3').click( function(e) {
            $('.form_controls').hide();
            $('#controls_step3').show();
        });


    });
   */
</script>

<!--
<link rel="stylesheet" href="/media/common/js/treeview/jquery.treeview.css" />
<link rel="stylesheet" href="/media/common/js/treeview/jquery-widgets.css" />
-->

    <h4>{{title}}</h4>
    <br/>

           <div class="field required">
                {{ form.input_penalties.errors }}
                {{ form.input_targets.errors }}
                {{ form.input_relativecosts.errors }}
            </div>

<div class="tabbable">
    <ul class="nav nav-tabs" style="margin-bottom:0px;">
        <li class="active">
            <a href="#geographytab" data-toggle="tab">
                <span>Step 1: Define <br/> Geography</span>
            </a> </li>
        <li>
            <a href="#generaltab" data-toggle="tab">
                <span>Step 2: Name and <br/> Describe </span>
            </a>
        </li>
        <li>
            <a href="#speciestab" data-toggle="tab">
                <span>Step 3: Species <br/> of Interest</span>
            </a>
        </li>
        <li>
            <a href="#coststab" data-toggle="tab">
                <span>Step 4: Prioritization <br/> Constraints</span>
            </a>
        </li>
    </ul>


    <div class="tab-content">

    <div id="geographytab" class="tab-pane active"> 
        <h4>{% flatblock 'form-geography-header' %}</h4>
        <p>Using the map, draw a box or click {% flatblock 'planning-units' %} to select. To navigate, use the keyboard controls.</p>
        <a href="javascript:$('#step1Movie').toggle();" class="btn btn-mini">Need Help <i class="icon-question-sign"></i></a>
        <br/>
        <div id="step1Movie" style="display:none;">
            <!-- TODO animated gif -->
            <object style="width: 397px; height: 370px;" type="application/x-shockwave-flash" data="/media/seak/swf/select.swf">
                <param name="movie" value="select.swf" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="#ffffff" />
                <p>You do not have the latest version of Flash installed. Please visit this link to download it: <a href="http://www.adobe.com/products/flashplayer/">http://www.adobe.com/products/flashplayer/</a></p>
            </object>
        </div>
        <br/>

        <div id="currentGeographySelection">
            You've selected <span id="geographySelectionCount">0</span> {% flatblock 'planning-units' %}.
        </div>

           
    <div id="counter"></div>
    <div id="area"></div>
    </div>

    <div id="generaltab" class="tab-pane"> 
        <h4>Provide a name and (optionally) a description of the prioritization scenario.</h4>
    <form id="featureform" action="{{action}}" method="post"> 
            <div class="hidden field required">
                {{ form.input_penalties.label_tag }}
                {{ form.input_penalties }}            
                {{ form.input_targets.label_tag }}
                {{ form.input_targets }}            
                {{ form.input_relativecosts.label_tag }}
                {{ form.input_relativecosts }}            
                {{ form.input_scalefactor.label_tag}}
                {{ form.input_scalefactor}}
            </div>
            <div class="field required">
                {{ form.name.label_tag }}
                {{ form.name.errors }}
                {{ form.name }}            
            </div>
            <div class="field">
                {{ form.description.label_tag }}
                {{ form.description.errors }}
                {{ form.description }}            
            </div>
            <p><input type="submit" value="submit"></p>
           <div>
           </div>
    </form>
    </div>

    <div id="speciestab" class="tab-pane">
        <h4>{% flatblock 'form-conservationfeature-header' %}</h4>
        <div> {% flatblock 'form-conservationfeature-description' %}</div>
        <hr/>
        <form action="#" id="focalspecies_form">

        </form>
    </div> <!-- End species tab -->

    <div id="coststab" class="tab-pane">
        <h4>{% flatblock 'form-costs-header' %}</h4>
        <div> {% flatblock 'form-costs-description' %}</div>
        <hr/>
        <form action="#" id="costs_form">
           <div>
            <table>
                <tr>
                <td class="cost">
                        <input type="checkbox" class="costvalue" name="cost" id="cost---watershed-condition" value="watershed-condition" checked="checked"/></td>
                <td><label for="cost---watershed-condition">Watershed Condition <em>(favor unimpaired watersheds)</em></label></td>
                </tr>

                <tr>
                <td class="cost"><input type="checkbox" class="costvalue" name="cost" id="cost---climate" value="climate" checked="checked"/></td>
                <td><label for="cost---climate">Climate Change Vulnerability <em>(favor watersheds with low vulnerability to climate change)</em></label></td>
                </tr>

                <tr>
                <td class="cost"><input type="checkbox" class="costvalue" name="cost" id="cost---invasives" value="invasives" checked="checked"/></td>
                <td><label for="cost---invasives">Vulnerability to Invasive Species <em>(favor watersheds with low vulnerability to invasion)</em></label></td>
                </tr>
             </table>
           </div>
        </form>
    </div>
    </div>
  </div>

{% endblock panel %}
