{% extends "common/panel.html" %}
{% load flatblock_tags %} 
{% block title %}{{title}}{% endblock %}
{% block panel %}

    <h4>{{title}}</h4>
    <br/>
    <div class="field required">
        {{ form.input_penalties.errors }}
        {{ form.input_targets.errors }}
        {{ form.input_relativecosts.errors }}
    </div>

<div class="tabbable">
    <ul class="nav nav-tabs" id="formtabs" style="margin-bottom:0px;">
        <li class="active">
            <a href="#geographytab" id="tab-geography" data-toggle="tab">
                <span>Step 1<br/><strong>{% flatblock 'geography' 3600 %}</strong></span>
            </a> </li>
        <li>
            <a href="#speciestab" id="tab-species" data-toggle="tab">
                <span>Step 2<br/><strong>{% flatblock 'targets' 3600 %}</strong></span>
            </a>
        </li>
        <li>
            <a href="#coststab" id="tab-costs" data-toggle="tab">
                <span>Step 3<br/><strong>{% flatblock 'constraints' %}</strong></span>
            </a>
        </li>
        <li>
            <a href="#generaltab" id="tab-general" data-toggle="tab">
                <span>Step 4<br/><strong>Describe</strong></span>
            </a>
        </li>
    </ul>


    <div class="tab-content">

    <div id="geographytab" class="tab-pane active"> 
        <h4>{% flatblock 'form-geography-header' 3600 %}</h4>
        <div>
            <p> Use a pre-defined geographic region </p>
            <ul>
            {% for dg in defined_geographies %}
            <p>
                <button id="dg_{{dg.slug}}" class="dg btn btn-mini" style="width:240px; text-align:left;">
                    <i style="float:left;" class="icon-tag"></i> &nbsp;&nbsp; {{dg.name}}
                </button> 
            </p> 
            {% endfor %}
            </ul>
        </div>
        <script>
            {% for dg in defined_geographies %}
            $('#dg_{{dg.slug}}').bind('click', function(e) { 
                var fids = {{dg.planning_unit_fids}}; 
                selectGeographyControl.unselectAll();
                $.each(fids, function (i, fid) {
                    var f = pu_layer.getFeaturesByAttribute("fid",fid)[0];
                    if (f) { 
                        selectGeographyControl.select(f);
                    }
                });
                // Zoom to selected features
                var fts = pu_layer.selectedFeatures;
                var bounds = fts[0].geometry.getBounds().clone();
                for(var i=1;i<fts.length;i++) {
                    bounds.extend(fts[i].geometry.getBounds());
                }
                map.zoomToExtent(bounds,false);
            });
            {% endfor %}
        </script>
        <br/>
        <p>Or, if you need to fine-tune the geography, you can use the map to click or draw a box around additional {% flatblock 'planning-units' 3600 %}. To remove or de-select {% flatblock 'planning-units' 3600 %}, hold the Ctrl key and click. To navigate, use the keyboard controls (+/- to zoom, arrow jeys to pan). If you need to undo the entire selection, click on the map away from the study region.</p>
        <!-- TODO this doesnt work in IE, use  -->
        <a href="javascript:$('#step1Movie').toggle();" class="btn btn-mini">Need Help <i class="icon-question-sign"></i></a>
        <br/>
        <br/>
        <div id="step1Movie" style="display:none;">
            <!-- TODO animated gif instead -->
            <object style="width: 397px; height: 370px;" type="application/x-shockwave-flash" data="/media/seak/swf/select.swf">
                <param name="movie" value="select.swf" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="#ffffff" />
                <p>You do not have the latest version of Flash installed. Please visit this link to download it: <a href="http://www.adobe.com/products/flashplayer/">http://www.adobe.com/products/flashplayer/</a></p>
            </object>
        </div>
        <br/>

        <div id="currentGeographySelection">
            You've selected <span class="badge badge-info" id="geographySelectionCount">0</span> {% flatblock 'planning-units' 3600 %}.
        </div>

           
    <div id="counter"></div>
    <div id="area"></div>
    </div>

    <div id="generaltab" class="tab-pane"> 
        <h4>Provide a name and (optionally) a description of the prioritization scenario.</h4>
    <form id="featureform" action="{{action}}" method="post"> 
            <div class="hidden field required">
                {{ form.input_penalties }}            
                {{ form.input_targets }}            
                {{ form.input_relativecosts }}            
                {{ form.input_geography}}
                {{ form.input_scalefactor.label_tag }}
                {{ form.input_scalefactor}}
            </div>
            <div class="field required">
                {{ form.name.label_tag }}
                {{ form.name.errors }}
                {{ form.name }}            
            </div>
            <div class="field">
                {{ form.description.label_tag }}
                {{ form.description.errors }}
                {{ form.description }}            
            </div>
            <p><input type="submit" value="submit"></p>
           <div>
           </div>
    </form>
    </div>

    <div id="speciestab" class="tab-pane">
        <h4>{% flatblock 'form-conservationfeature-header' 3600 %}</h4>
        <div> {% flatblock 'form-conservationfeature-description' 3600 %}</div>
        <br/>
        <br/>
        <form action="#" id="form-cfs">
          <table class="table table-condensed">
            <tr>
                <th> {% flatblock 'show-conservation-features' 3600 %} </th>
                <th> {% flatblock 'relative-importance' 3600 %}</th>
                <th class="debug-only"> target </th>
                <th class="debug-only"> penalty </th>
            </tr>
          </table>
          <div id="accordion1" class="accordion">
            {% regroup cfs by level1 as category_list %}
            {% for category in category_list %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <table style="width:100%;">
                    <tr>
                    <th style="width:45%;text-align:left;">
                       <a class="accordion-toggle" data-toggle="collapse" 
                           href="#collapse-{{category.grouper|slugify}}"> <i class="category-icon icon-minus"></i> {{category.grouper}} </a>
                    </th>
                    <td>
                      <div class="slider-collapse aggregate hide" 
                           id="#slider-collapse-{{category.grouper|slugify}}">
                        <span class="slider-label slider-label-left">low</span>
                        <div class="slider-range" id="sliderrange---CATEGORY-{{category.grouper|slugify}}"></div> 
                        <span class="slider-label slider-label-right">high</span>
                        <span style="margin-left:16px;">
                            <a class="btn btn-mini apply">Apply value to all {{category.grouper}}</a>
                        </span>
                      </div>
                    </td>
                    <td class="debug-only">
                        <input type="text" class="targetvalue" 
                               id="target---CATEGORY-{{category.grouper|slugify}}" value="0.0"/>
                    </td>
                    <td class="debug-only">
                        <input type="text" class="penaltyvalue" 
                               id="penalty---CATEGORY-{{category.grouper|slugify}}" value="0.0"/>
                    </td>
                    </tr>
                    </table>
                </div>
                <div id="collapse-{{category.grouper|slugify}}" class="accordion-body in cf-collapse">
                <table class="table table-condensed" style="width:100%; margin-bottom:0px;">
                {% for cf in category.list %} 
                    <tr class="cf-row" id="row-{{cf.dbf_fieldname}}">
                        <td style="width:45%">{{cf.name}}</td>
                        <td> 
                            <span class="slider-label slider-label-left">low</span>
                            <div class="slider-range" id="sliderrange---{{cf.id_string}}"></div> 
                            <span class="slider-label slider-label-right">high</span>
                        </td>
                        <td class="debug-only">
                            <input type="text" class="targetvalue" id="target---{{cf.id_string}}" value="0.0"/>
                        </td>
                        <td class="debug-only">
                            <input type="text" class="penaltyvalue" id="penalty---{{cf.id_string}}" value="0.0"/>
                        </td>
                    </tr>
                {% endfor %}
                </table>
                </div>
            </div>
            {% endfor %}
            <div>
                <p style="margin-top: 12px; font-size: 75%">{% flatblock 'form-geography-note' 3600 %}</p>
            </div>
          </div>
        </form>
        <script>
            // Make slider work
            $('a.apply').click(function(e) {
                e.preventDefault();
                var targetval = $(this).parent().parent().parent().parent().find('.targetvalue').val();
                var penaltyval = $(this).parent().parent().parent().parent().find('.penaltyvalue').val();
                $(this).closest('.accordion-group').find('.accordion-body .slider-range')
                       .slider('value', 100 * penaltyval);
                $(this).closest('.accordion-group').find('.accordion-body .penaltyvalue').val(penaltyval).change();
                $(this).closest('.accordion-group').find('.accordion-body .targetvalue').val(targetval).change();
            });
            // When collapsing details, show the aggregate sliderbar and vice-versa
            $('.cf-collapse').on('hide', function() {
                $(this).parent().find(".category-icon").removeClass("icon-minus"); 
                $(this).parent().find(".category-icon").addClass("icon-plus"); 
                $(this).parent().find('.slider-collapse').show();
            });
            $('.cf-collapse').on('show', function() {
                $(this).parent().find(".category-icon").removeClass("icon-plus"); 
                $(this).parent().find(".category-icon").addClass("icon-minus"); 
                $(this).parent().find('.slider-collapse').hide();
            });
        </script>
    </div> <!-- End species tab -->

    <div id="coststab" class="tab-pane">
        <h4>{% flatblock 'form-costs-header' 3600 %}</h4>
        <div> {% flatblock 'form-costs-description' 3600 %}</div>
        <br/>
        <form action="#" id="form-costs">
          <table class="table table-condensed">
            {% for cost in costs %}
            <tr class="cost-row" id="row-{{cost.dbf_fieldname}}">
                <td><input type="checkbox" class="costvalue" id="cost---{{cost.slug}}" checked="1"/></td>
                <td><label for="cost---{{cost.slug}}">{{cost.name}} (<em>{{cost.desc}}</em>)</label></td>
            </tr>
            {% endfor %}
          </table>
        </form>
        <div>
            <p style="margin-top: 12px; font-size: 75%">{% flatblock 'form-geography-note' 3600 %}</p>
        </div>
    </div>
    </div>
  </div>
{% endblock panel %}
