{% extends 'nplcc/base.html' %}
{% block title %}North Pacific Landscape Conservation Cooperative Prioritization Tool{% endblock title %}

{% block js %}
<link rel="stylesheet" href="http://openlayers.org/dev/theme/default/style.css" type="text/css">
<!-- <link rel="stylesheet" href="http://openlayers.org/dev/examples/style.css" type="text/css">  -->
<style>
.smallmap {
width: 512px;
height: 512px;
border: 1px solid #CCC;
}
</style>
{% endblock js %}

{% block content %}
<h2>Introduction</h2>
<div style="width:960px;">
    <div style="width:512px;">
        <p>
        The North Pacific Landscape Conservation Cooperative is a shared management-science partnership between the 
        U.S. Fish and Wildlife Service, the United States Geological Survey, states, and British Columbia, Canadian 
        and federal resource management agencies, tribes, NGOs, universities and other entities within a geographic area. 
        </p>
    </div>

    <div id="attrs" style="position:relative; left: 224px; top: 48px; z-index: 9999999; padding:7px; text-align:center; height:25px; width: 256px;" class="box"></div>
    <div id="map" class="smallmap"></div>
</div>

<img src="http://www.ecotrust.org/images/ecotrust_logo08.gif" style="margin-right: 15px;"/>

<script src="http://openlayers.org/dev/OpenLayers.js" />
<script type="text/javascript">
    console.log("test");
</script>

<script type="text/javascript">

    var tiles = new OpenLayers.Layer.XYZ(
        "MapBox Streets",
        "/media/tiles/nplcc/${z}/${x}/${y}.png",
        {
            sphericalMercator: true,
            transitionEffect: "resize",
            buffer: 1,
            numZoomLevels: 16
        }
    );

    var utfgrid = new OpenLayers.Layer.UTFGrid({
        url: "/media/tiles/nplcc/${z}/${x}/${y}.json",
        utfgridResolution: 4, // default is 2
        displayInLayerSwitcher: false
    });

    var map = new OpenLayers.Map({
        div: "map", 
        projection: "EPSG:900913",
        layers: [tiles, utfgrid],
        center: [-15300000, 7000000],
        zoom: 4
    });

    var proj = new OpenLayers.Projection("EPSG:4326");
    var extent = new OpenLayers.Bounds(-157.8516, 33.7243, -112.8516, 65.0721);
    extent.transform(proj, map.getProjectionObject());
    map.setOptions({restrictedExtent: extent});

    var callback = function(infoLookup) {
        var msg = "Select a project..";
        if (infoLookup) {
            var info;
            for (var idx in infoLookup) {
                // idx can be used to retrieve layer from map.layers[idx]
                info = infoLookup[idx];
                if (info && info.data) {
                    if (info.id == 1) {
                        msg = "Southeast Alaska Prioritization Tool"; 
                    }
                }
            }
        }
        document.getElementById("attrs").innerHTML = msg;
    };

    var click_callback = function(infoLookup) {
        var msg = "";
        if (infoLookup) {
            var info;
            for (var idx in infoLookup) {
                info = infoLookup[idx];
                if (info && info.data) {
                    // Assumes only one demo app
                    if (info.id == 1) {
                        window.location = "/tool/";
                    }
                }
            }
        }
    };
        
    var move = new OpenLayers.Control.UTFGrid({
        callback: callback,
        handlerMode: "move"
    })

    var click = new OpenLayers.Control.UTFGrid({
        callback: click_callback,
        handlerMode: "click"
    })

    map.addControl(move);
    map.addControl(click);

</script>
{% endblock content %}
