{% extends 'nplcc/base.html' %}
{% block title %}Regional Aquatic Prioritization and Mapping Tool{% endblock title %}

    {% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.tab').removeClass('selected');
            $('#tab_intro').addClass('selected');
            $('#proceed_button').click( function(e) {
                var r = confirm("I understand the purpose and limitations of the Regional Aquatic Prioritization and Mapping Tool and am ready to begin.");
                if (r) {
                    document.location = this.href;
                    return true;
                } else {
                    e.preventDefault();
                    return false
                }
            });

        });
    </script>
    {% endblock js %}

            {% block content %}
            <h2>Introduction</h2>
            <br/>
            <p>
            Welcome to the Regional Aquatic Prioritization and Mapping Tool - An aquatic priorities decision support system for Oregon, Washington, and Idaho developed by Ecotrust and the US Fish and Wildlife Service.
            </p>

            <p>
            Starting in July of 2010, Ecotrust partnered with the U.S. Fish and Wildlife Pacific Regional Office to develop this regional aquatic priorities decision-support tool for Oregon, Washington, and Idaho.  The decision support system was developed to prioritize sub-basins to focus conservation and restoration of freshwater habitats to ensure the long-term sustainability of the region's aquatic and fisheries resources while considering how factors such as watershed condition, climate change and aquatic invasive species affect regional priorities. Using this tool Ecotrust and USFWS evaluated a wide variety of watershed priorities at the 4th field sub-basin scale.
            </p>

            <p>
            In developing this tool, Ecotrust and U.S. Fish and Wildlife collaborated with partners already involved with strategic, regional-scale aquatic habitat restoration, including USDA Forest Service, NOAA Fisheries, and the Oregon Watershed Enhancement Board among others.  Rather than duplicating work that’s already been conducted, this work has built on existing efforts and supplements gaps in previous work while incorporating aspects of climate change impacts and the spread of invasive species.  The result is an automated analytical tool that is used to evaluate a wide array of watershed priorities given different species of concern and priority constraints such as climate change, aquatic invasives and watershed condition.
            </p>

            <p>
            While you must be a registered user to use the tool to create priority scenarios, a public facing version of the tool was created to allow interested individuals, organizations or agencies to map and explore the priorities identified by Ecotrust and USFWS, as well as visualize the many datasets that support the analysis.  The tool itself is an open source, online mapping application that allows users to zoom in, pan and query a wide variety of mapped data.  At its core is the intuitive and easy to use Google earth interface.  As such, in order to run the tool, you must have the Google earth plugin for web browsers installed on your computer.   For a detailed description of input data, analytical processes and the tool itself, please see the supporting documentation using the tabs at the top of this page.  To launch the tool click on the image below.
            </p>
             

            <div style="text-align:center">
            <div style="width:50%; margin-left:auto; margin-right:auto;">
            <a href="/tool/" id="proceed_button">
                <div class="box">
                    <img style="width:360px; border: 1px solid #555;" src="/media/screenshots/results1sm.png"/>
                    <h3>
                    Proceed to the Regional Aquatic Prioritization and Mapping Tool 
                    </h3>
                </div>
            </a>
            </div>
            </div>
            {% endblock content %}
