{% extends 'common/panel.html' %}
{% load humanize %}
{% load set_var %}
{% load percentage %}
{% load sortcosts %}
{% load flatblock_tags %}
{% block title %}{{instance.name}}{% endblock title %}
{% block panel %}

{% block progress %}
<input type="hidden" id="selected_progress_url" value="{% url analysis-progress instance.uid %}" />
{% if not instance.done %}
<div class="alert alert-info" 
     data-bind="visible: !done(), css: {'alert-error': error(), 'alert-info': !error()}">
    <div id="scenario_progress_html">
        <p data-bind="html: progressHtml"><!-- {{ instance.status_html|safe }} --></p>
    </div>
    <div class="progress progress-info progress-striped active" data-bind="visible: !error()">
        <div class="bar" data-bind="style: { width: progressBarWidth() }"></div>
    </div>
</div>
{% endif %}
{% endblock progress %}

<div class="tabbable">
    <ul class="nav nav-tabs" style="margin-bottom:0px;">
        <li class="active"><a href="#Inputs" data-toggle="tab"><span>{% flatblock 'show-inputs' 3600 %}</span></a></li>
        {% if instance.done %}
        <li><a href="#summary" data-toggle="tab"><span>{% flatblock 'show-results-summary' 3600 %}</span></a></li>
        <li><a href="#species" data-toggle="tab"><span>{% flatblock 'show-conservation-features' 3600 %}</span></a></li>
        <li><a href="#watersheds" data-toggle="tab"><span>{% flatblock 'show-planning-units' 3600 %}</span></a></li>
        {% endif %}
    </ul>

    {% set results = instance.results %}
    <div class="tab-content">

        <div id="Inputs" class="tab-pane active">
            <div class="box">
                <h4>Name</h4> 
                <p>{{ instance.name }}</p>
                {% if instance.description %}
                <h4>Description/Notes</h4>
                <p> {{instance.description}} </p>
                {% endif %}
            </div>

            <div class="box">

             <table class="table">
             <thead> <th>Conservation Feature</th><th>Goal Proportion</th><th>Importance Weighting</th></thead>
             {% for k,v in results.targets_penalties.items %}
             {% if v.target > 0 %}
             <tr> <td><strong>{{k}}</strong></td><td>{{v.target}} </td><td>{{v.penalty}}</td></tr>
             {% endif %}
             {% endfor %}
             </table>

             <table class="table">
                 <thead> <th>Prioritization Constraints</th><th></th></thead>
             {%for k,v in results.costs.items|sortcosts %}
             {% if v > 0%}<tr><td> &#10003; <strong>{{k}}</strong></td></tr> 
             {% else %}<tr><td> &nbsp; <del>{{k}}</del></td></tr> 
             {% endif %} 
             {%endfor%}
             </table>
             <span style="display:none" id="estimated_scaling_factor">{{instance.input_scalefactor}}</span>
            </div>
        </div>

        {% if instance.done %}
        <div id="summary" class="tab-pane">
            <div class="box">
                <p>The optimum watershed prioritization scenario includes {{results.num_units}} subbasins covering {{results.area|floatformat:0|intcomma}} km<sup>2</sup>. </p>
                <p>Goals were met for {{results.num_met}} of {{results.num_species}} focal species.</p>
            </div>
        </div>

        <div id="watersheds" class="tab-pane">
            <div class="box">
                <p>The optimum watershed prioritization scenario includes {{results.num_units}} subbasins covering {{results.area|floatformat:0|intcomma}} km<sup>2</sup>. </p>
                <p>Ranking of prioritization constraints is <em>relative</em>. See <a href="/docs.html" target="_blank">data and methods</a> for more details. </p> 
                <table>
                <table class="table" summary="Subbasin Table">
                <thead>
                    <tr>
                    <th scope="col"> Subbasin </th> 
                    {%for k,v in results.costs.items|sortcosts %}
                        {% if v > 0%}
                            {% if k == "watershed-condition" %}
                            <th scope="col"> Watershed Condition</th>
                            {% endif %}
                            {% if k == "climate" %}
                            <th scope="col"> Climate Change Vulnerability</th> 
                            {% endif %}
                            {% if k == "invasives" %}
                            <th scope="col"> Vulnerability to Invasive Species</th>
                            {% endif %}
                        {% endif %}
                    {%endfor%}
                    <tr>
                </thead>
                <tbody>
                {% for w in results.units %}
                    <tr class="hit">
                    <td>{{w.name}}</td>
                    {%for k,v in results.costs.items|sortcosts %}
                        {% if v > 0 %}
                            {% if k == "climate" %}
                            <td class="{{w.costs.climate}}">{{w.costs.climate}}</td>
                            {% endif %}
                            {% if k == "invasives" %}
                            <td class="{{w.costs.invasives}}">{{w.costs.invasives}}</td>
                            {% endif %}
                            {% if k == "watershed-condition" %}
                                {% if results.costs.invasives > 0 %}
                                <td class="{{w.costs.watershedconditionnoais}}">{{w.costs.watershedconditionnoais}}</td>
                                {% else %}
                                <td class="{{w.costs.watershedconditionwithais}}">{{w.costs.watershedconditionwithais}}</td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        <div id="species" class="tab-pane">
            <div class="box">
                <p>Goals were met for {{results.num_met}} of {{results.num_species}} focal species.</p>
                <table class="table" id="species_table" summary="Species Table">
                <thead>
                    <tr>
                    <th scope="col"> Species </th>
                    <!-- <th scope="col"> Code </th> -->
                    <th scope="col"> Percent of Total </th>
                    <th scope="col" width="50"> Units </th>
                    <!--
                    <th scope="col"> Goal Amount</th> 
                    <th scope="col"> Best Reserve Amount</th>
                    -->
                    <th scope="col" width="80"> Goal Met?</th>
                    <tr>
                </thead>
                <tbody>
                {% for s in results.species %}
                <tr{% if s.target == 0 %} class="nogoal" style="display:none;"{% else %}class="hit"{% endif %}>
                    <td> <strong>{{s.name}}</strong><br/>({{s.code}})</td>
                    <!-- <td> {{s.code}} </td> -->
                    <td style="text-align:right;"> {{s.pcttotal|percentage:1}} </td>
                    <td> {{s.units}} </td>
                    <!--
                    <td> {{s.target|floatformat:2|intcomma}} </td>
                    <td> {{s.held|floatformat:2|intcomma}} </td> 
                    -->
                    <td style="text-align:center;"> {% if s.target == 0 %} -- {% else %} 
                        {% if s.met %}&#10003;{% else %} NO<br/>(Goal was {{s.target_prop|percentage:0}}){% endif %} 
                         {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="#" class="toggle_na_species" style="font-size:8pt;"><span class="showhidelang" style="display:inline">Show</span><span class="showhidelang" style="display:none">Hide</span> Species Without Goal Amount</a>
        </div>
        {% endif %}
        </div>
    </div>

{% endblock panel %}
