{% extends 'common/panel.html' %}
{% load humanize %}
{% load set_var %}
{% load percentage %}
{% load sortcosts %}
{% load flatblock_tags %}
{% block title %}{{instance.name}}{% endblock title %}
{% block panel %}

{% block progress %}
<input type="hidden" id="selected_progress_url" value="{% url analysis-progress instance.uid %}" />
{% if not instance.done %}
<div class="alert alert-info" 
     data-bind="visible: !done(), css: {'alert-error': error(), 'alert-info': !error()}">
    <div id="scenario_progress_html">
        <p data-bind="html: progressHtml"><!-- {{ instance.status_html|safe }} --></p>
    </div>
    <div class="progress progress-info progress-striped active" data-bind="visible: !error()">
        <div class="bar" data-bind="style: { width: progressBarWidth() }"></div>
    </div>
</div>
{% endif %}
{% endblock progress %}

{% if instance.expired %}
<div class="alert alert-error"> <i style="float:left; margin: 5px;" class="icon-exclamation-sign"></i> {% flatblock 'scenario-expired-message' 3600 %}</div>
{% endif %}

<div class="tabbable">
    <ul class="nav nav-tabs" style="margin-bottom:0px;">
        <li class="active"><a href="#Inputs" data-toggle="tab"><span>{% flatblock 'show-inputs' 3600 %}</span></a></li>
        {% if instance.done %}
        <li><a href="#species" data-toggle="tab"><span>{% flatblock 'show-conservation-features' 3600 %}</span></a></li>
        <li><a href="#watersheds" data-toggle="tab"><span>{% flatblock 'show-planning-units' 3600 %}</span></a></li>
        {% endif %}
    </ul>

    {% set results = instance.results %}
    <div class="tab-content tab-content-show">

        <div id="Inputs" class="tab-pane active">
            <!--
            <div class="box">
                <h4>Name</h4> 
                <p>{{ instance.name }}</p>
                {% if instance.description %}
                <h4>Description/Notes</h4>
                <p> {{instance.description}} </p>
                {% endif %}
            </div>
            <hr/>
            -->
            <div>
             <h4>{% flatblock 'targets' 3600 %}</h4>
             <table class="table">
             <thead> 
                <th>{% flatblock 'show-conservation-features' 3600 %}</th>
                <th colspan="2"> {% flatblock 'relative-importance' 3600 %}</th>
                <th class="debug-only"> Penalty </th>
             </thead>
             <tbody>
                {% for k,v in results.targets_penalties.items %}
                <tr class="{% if v.target > 0 %}targeted{% else %}not-targeted{% endif %}"> 
                    <td>{{v.label}}</td>
                    <td> 
                      <div class="progress" style="width:120px; margin:0;"><div class="bar" style="width:{{v.target|percentage}}"></div></div>
                    </td>
                    <td>{{v.target|percentage}}</td>
                    <td class="debug-only">{{v.penalty|percentage}}</td>
                </tr>
                {% endfor %}
             </tbody>
             </table>

             <hr/>

            <h4>{% flatblock 'constraints' 3600 %}</h4>
             <table class="table">
             {%for k,v in results.costs.items|sortcosts %}
             {% if v > 0%}<tr><td> &#10003; <strong>{{k}}</strong></td></tr> 
             {% else %}<tr><td> &nbsp; <del>{{k}}</del></td></tr> 
             {% endif %} 
             {%endfor%}
             </table>
             
             <div class="debug-only">
                <h4>Scaling Factor</h4>
                <span>{{instance.input_scalefactor}}</span>
             </div>

            </div>
        </div>

        {% if instance.done %}

        <div id="watersheds" class="tab-pane">
            <div class="box">
                <p>The optimal prioritization scenario includes {{results.num_units}} {% flatblock 'show-planning-units' 3600 %} covering {{results.area|floatformat:0|intcomma}} km<sup>2</sup>. </p>
                <table class="table">
                <thead>
                    <tr>
                    <th scope="col"> {% flatblock 'show-planning-units' 3600 %} </th> 
                    {%for k,v in results.costs.items %}
                        {% if v > 0 %}
                        <th scope="col">{{k}}</th>
                        {% endif %}
                    {%endfor%}
                    <tr>
                </thead>
                <tbody id="best-pus">
                {% for w in results.units %}
                <tr>
                    <td>{{w.name}}</td>
                    {%for k,v in w.costs.items %}
                    {% if v < 24%} <td><span class="badge badge-success">low&nbsp; <span class="debug-only">{{v}}</span></span></td>
                    {% elif v > 66 %} <td><span class="badge badge-important">high <span class="debug-only">{{v}}</span></span></td>
                    {% else %} <td><span class="badge badge-warning">med <span class="debug-only">{{v}}</span></span></td>
                    {% endif %}
                    <td class="centroid-x" style="display:none">{{w.centroidx}}</td>
                    <td class="centroid-y" style="display:none">{{w.centroidy}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
             <script> 
                var best = $('tbody#best-pus');
                best.find('tr').mouseenter( function(e) { 
                    var x = $(this).find('td.centroid-x').html();
                    var y = $(this).find('td.centroid-y').html();
                    var lonLat = new OpenLayers.LonLat(x,y);
                    markers.addMarker(new OpenLayers.Marker(lonLat));
                }).mouseleave( function(e) {
                    markers.clearMarkers();
                });
             </script>
        </div>
        <div id="species" class="tab-pane">
            <div class="box">
                <p>{% flatblock 'show-targets-explanation' 3600 %}</p>
                <p class="debug-only">Goals were met for {{results.num_met}} of {{results.num_species}} 
                        {% flatblock 'show-conservation-features' 3600 %}.</p>
                <table class="table" id="species_table" summary="Species Table">
                <thead>
                    <tr>
                        <th scope="col"> {% flatblock 'show-conservation-features' 3600 %} </th>
                        <th scope="col" colspan="2"> {% flatblock 'show-percent-met' 3600 %}</th>
                        <th class="debug-only" scope="col" width="80"> Goal Met?</th>
                    </tr>
                </thead>
                <tbody>
                {% for s in results.species %}
                <tr class="{% if s.target == 0 %}nogoal{% else %}hit{% endif %} {%if s.target_prop == 0%}not-targeted{%endif%}">
                    <td> <strong>{{s.name}}</strong></td>
                    <td> <div class="progress" style="width:120px; margin:0;" ><div class="bar" style="width:{{s.pcttotal|percentage}}"></div></div></td>
                    <td> {{s.pcttotal|percentage:1}} {{s.units}} </td>
                    <td class="debug-only"> {% if s.target == 0 %} - {% else %} 
                        {% if s.met %}&#10003;{% else %} NO<br/>(Goal was {{s.target_prop|percentage:0}}){% endif %} 
                         {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        </div>
    </div>

{% endblock panel %}
