{% extends "common/base.html" %}
{% load url from future %}
{% block title %}
<p> Password Reset </p>
{% endblock %}

{% block content %}
<div class="row">
<div class="span6 well">
    <h4>Forgotten your password?</h4>
    <p>Enter your e-mail address below, and we'll send you instructions for resetting your password.</p>

<div>
<form id="resetform" action="{% url 'auth_password_reset' %}" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">E-mail address</label> {{ form.email }} <input class="btn btn-primary" type="submit" value="Reset my password" /></p>
</form>
</div>
</div>
</div>
{% endblock %}
