<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>SelectFeature Control on Layer.Vector</title> 
    <link rel="stylesheet" href="http://openlayers.org/dev/theme/default/style.css" type="text/css">
    <link rel="stylesheet" href="http://openlayers.org/dev/examples/style.css" type="text/css">
    <style type="text/css">
        #controlToggle li {
            list-style: none;
        }
        .smallmap {
    width: 512px;
    height: 512px;
    border: 1px solid #ccc;
}
    </style>
    <!-- 
    <script src="http://dev.openlayers.org/releases/OpenLayers-2.11/lib/OpenLayers.js"></script>
    -->
    <script src="http://openlayers.org/dev/OpenLayers.js"></script>
    <script type="text/javascript">
        var map, drawControls;
        OpenLayers.Feature.Vector.style['default']['strokeWidth'] = '0.5';
        function init(){
            map = new OpenLayers.Map({
                div: "map",
                projection: "EPSG:900913",
                displayProjection: "EPSG:4326",
                numZoomLevels: 18
            });
            var osm = new OpenLayers.Layer.OSM( "Simple OSM Map");
            var myStyles = new OpenLayers.StyleMap({
                "default": new OpenLayers.Style({
                    fillColor: "#ffffff",
                    fillOpacity: 0.4,
                    strokeColor: "#339933",
                    strokeWidth: 1,
                    graphicZIndex: 1
                }),
                "select": new OpenLayers.Style({
                    fillColor: "#ffff00",
                    fillOpacity: 0.6,
                    graphicZIndex: 2
                })
            });
            
            // allow testing of specific renderers via "?renderer=Canvas", etc
            var renderer = OpenLayers.Util.getParameters(window.location.href).renderer;
            renderer = (renderer) ? [renderer] : OpenLayers.Layer.Vector.prototype.renderers;

            var vectors = new OpenLayers.Layer.Vector("Vector Layer", {
                styleMap: myStyles,
                renderers: renderer
            });
            function update_counter(vl) {
                var area = 0;
                for (i in vl.selectedFeatures) {
                    sf = vl.selectedFeatures[i];
                    area += sf.data.area;
                }
                $('area').innerHTML = area / 2589988.11; // convert to sq mi 
                $('counter').innerHTML = vl.selectedFeatures.length;
            };
            vectors.events.on({
                'featureselected': function(feature) {
                    update_counter(this);
                },
                'featureunselected': function(feature) {
                    update_counter(this);
                }
            });

            //var url = "http://nplcc.hestia.ecotrust.org/seak/planning_units.geojson";
            var url = "./planning_units.geojson";

            OpenLayers.loadURL(url, {}, null, function (response) {
               var gformat = new OpenLayers.Format.GeoJSON();
               var feats = gformat.read(response.responseText);
               vectors.addFeatures(feats);
            });

            map.addLayers([osm, vectors]);
            map.addControl(new OpenLayers.Control.LayerSwitcher());
            
            drawControls = {
                select: new OpenLayers.Control.SelectFeature(
                    vectors,
                    {
                        clickout: true, 
                        toggle: false,
                        multiple: true, 
                        hover: false,
                        toggleKey: "ctrlKey", // ctrl key removes from selection
                        multipleKey: "shiftKey", // shift key adds to selection
                        box: true
                    }
                ),
            };
            drawControls.select.clickout = true;
            drawControls.select.box = true;
            
            for(var key in drawControls) {
                map.addControl(drawControls[key]);
            }
            map.setCenter(new OpenLayers.LonLat(-13600000, 6700000), 4);
        }

        function toggleControl(element) {
            for(key in drawControls) {
                var control = drawControls[key];
                if(element.value == key && element.checked) {
                    control.activate();
                } else {
                    control.deactivate();
                }
            }
        }

    </script>
  </head>
  <body onload="init()">
    <h1 id="title">OpenLayers Select Feature Example</h1>
    <div id="map" class="smallmap"></div>
    <ul id="controlToggle">
        <li>
            <input type="radio" name="type" value="none" id="noneToggle"
                   onclick="toggleControl(this);" checked="checked" />
            <label for="noneToggle">navigate</label>
        </li>
        <li>
            <input type="radio" name="type" value="select" id="selectToggle"
                   onclick="toggleControl(this);" />
            <label for="selectToggle">select feature (<span id="counter">0</span> features covering <span id="area">0</span> square miles selected)</label>
        </li>
    </ul>
  </body>
</html>

