{% load flatblock_tags %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% flatblock "title" 3600 %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script type="text/javascript">
        var madrona = { features: {} }
        {% if js_opts_json %}
        var js_opts = {{ js_opts_json|safe }}; 
        {% endif %}
    </script>

    <link href="{{MEDIA_URL}}bootstrap/css/bootstrap.cerulean.css" rel="stylesheet">
    {% load compressed %}{% compressed_css 'application' %}
    <link href="{{MEDIA_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet"> 
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" rel="stylesheet">

    <script type="text/javascript" src="{{MEDIA_URL}}common/js/sugar-1.3.6.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}common/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}common/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}common/js/knockout-2.0.0.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}common/js/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}common/js/jPaq.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}common/js/amplify.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}common/js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>
    {% load compressed %}{% compressed_js 'application' %}
    {% block scripts %}{% endblock scripts %}
    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="{{MEDIA_URL}}html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript">
        // Prevent IE from caching ajax requests
        // http://www.dashbay.com/2011/05/internet-explorer-caches-ajax/
        $.ajaxSetup({cache: false});
    </script>
    <link rel="shortcut icon" href="/media/common/img/favicon.ico">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">{% flatblock "title" 3600 %}</a>
          <ul class="nav">
                <li><a href="/news/about/">Learn More</a></li>
                <li><a href="/help/">Get Help</a></li>
          </ul>
          <ul class="nav pull-right">
              {% if user.is_authenticated %}
              <li><a href="{% url user_profile-form user.username %}" class="load-in-panel" id="profile"><i class="icon-user icon-white"></i> {{ user.username }}</a></li>
              <li><a href="{% url user_signout %}">Sign Out</a></li>
              {% else %}
              <li><a href="{% url registration_register %}" id="register-navbar">Register</a></li>
              <li><a href="{% url user_signin %}" id="signin-navbar"> Sign In</a></li>
              {% endif %}                
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      {% block content %}{% endblock content %}
    </div>

  </body>
</html>
