{% extends 'home/base.html' %}
{% load flatblocks %}

{% block home-content %}
        <div class="row-fluid">
            <div class="span12">
                <h1>{% flatblock 'home-header' %}</h1>
                {% flatblock 'home-intro' %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                {% flatblock 'home-content' %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">
            </div>
            <div class="span8">
                <a href="/map" id="proceed_button">
                    <div class="home-app-link">
                        <div class="box">
                            <h3>
                            Click here to Proceed to the Regional Aquatic Prioritization and Mapping Tool 
                            </h3>
                            <img style="width:360px; border: 1px solid #555;" src="/media/screenshots/screenshotv2.png"/>
                        </div>
                    </div>
                </a>
            </div>
        </div>
{% endblock home-content %}
