{% extends 'wp/base.html' %}
{% block title %}Documentation for Regional Aquatic Prioritization and Mapping Tool{% endblock title %}

    {% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.tab').removeClass('selected');
            $('#tab_docs').addClass('selected');
        });
    </script>
    {% endblock js %}

            {% block content %}
            <h2>Documentation, Methods and Data </h2>
            <br/>
            <br/>
            <p> For complete detail on the methodology used for the regional prioritizations, download the <a href="/publickml/methods.pdf">methodology document.</a>(<em>xxMB pdf</em>) </p>
            {% endblock content %}
