{% extends 'wp/base.html' %}
{% block title %}Watershed Priorities Tool{% endblock title %}

    {% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.tab').removeClass('selected');
            $('#tab_intro').addClass('selected');
            $('#proceed_button').click( function(e) {
                var r = confirm("I understand the purpose and limitations of the Watershed Priorities Tool and am ready to begin.");
                console.log(r);
                if (r!=true) {
                    e.preventDefault();
                }
            });

        });
    </script>
    {% endblock js %}

            {% block content %}
            <h2>Introduction</h2>
            <p>
            <a href="http://ecotrust.org">Ecotrust</a> and the <a href="http://www.fws.gov/pacific/">
                U.S. Fish and Wildlife Service] (USFWS) Pacific Region's Fishery Resources Branch</a> 
            have partnered to develop an aquatic habitat restoration decision support system for Oregon, Washington, and Idaho. 
            This system will enable USFWS to engage in strategic planning and program delivery of aquatic habitat conservation and 
            restoration priorities in the Pacific Northwest.
            </p>

            <p>
            The decision support system will prioritize watersheds for conservation and restoration of freshwater habitats to ensure the 
            long-term sustainability of the region's aquatic and fisheries resources while considering how factors such as watershed 
            condition, climate change and aquatic invasive species affect regional priorities.
            Watershed priorities are determined at the HUC 8 (Subbasin) scale. 
            </p>

            <div style="width:50%; margin-left:auto; margin-right:auto;">
            <a href="/tool/" id="proceed_button">
                <div class="box">
                    <img style="width:360px; border: 1px solid #555;" src="/media/screenshots/results1sm.png"/>
                    <h3>
                    Proceed to the Watershed Priorities Tool
                    </h3>
                </div>
            </a>
            </div>
            {% endblock content %}
