{% extends 'common/map.html' %}
{% load appname %}
{% block pagetitle %}{% appname %}{% endblock pagetitle %}
{% block title %}{% appname %}{% endblock title %}
{% block toggle %}{% endblock toggle %}

            {% block tabs %}
            {% if user.is_authenticated %}
            <li><a href="#MyShapes"><span>Scenarios</span></a></li>                
            {% endif %}
            <li><a href="#SharedShapes"><span>Data &amp; Priorities</span></a></li>
            {% endblock tabs %}

            {% block metanavigation %}
            {% if user.is_authenticated %}
            <li>{{user.username}} | </li>
            {% endif %}

            {% block meta_navigation_list_insert %}{% endblock %}
            {% if user.is_authenticated %}
            <li><a href="#" id="about">help</a> | </li>
            <li><a href="{% url help-main %}" target="_blank" id="help">more info</a> | </li>
            <li><a href="#" id="profile">my profile</a> | </li>
            <li><a href="{% url user_signout %}">sign out</a></li>
            {% else %}
            <li><a href="#" id="about">help</a> | </li>
            <li><a href="#" id="signin">sign in</a></li>
            {% endif %}                
            {% endblock metanavigation %}

        {% block tabscontents %}
        {% if user.is_authenticated %}
        <div id="MyShapes">
            <h2> My Scenarios </h2>
            <div class="box" style="font-size:1em;" id="myshapestree"></div>
            <h2> Shared Scenarios </h2>
            <div class="box" style="font-size:1em;" id="sharedshapestree"></div>
        </div>            
        {% endif %}
        <div id="SharedShapes"> 
            <h2>{% block dataLayersTitle %}Data Layers{% endblock dataLayersTitle %}</h2>
            <br/>
            <div id="datalayerstree"></div>
            <hr/>
            <p style="font-size:85%; font-style: italic;"> For metadata and detailed information on these layers, <br/> 
                please visit the <a href="/docs.html" target="_blank">data and methods documentation</a>.</p>
        </div>            
        {% endblock tabscontents %}

    {% block menu_icons %}
    <ul class="menu_items" id="header_buttons">
        <li class="divider"><img src="{{MEDIA_URL}}/common/images/header_divider.gif" height="32" width="46" /></li>

        <li id="bookmarks_menu" class="item item_trigger">
            <span>
                <a title="Bookmark" href="#Bookmark"><img src="{{MEDIA_URL}}/common/images/transparent.gif" width="44" height="48" /></a>
            </span>
        </li>

        <li class="divider"><img src="{{MEDIA_URL}}/common/images/header_divider.gif" height="32" width="2" /></li>

        <li id="tools_menu" class="item item_trigger">
            <span>
                <a title="Tools" href="#tools"><img src="{{MEDIA_URL}}/common/images/transparent.gif" width="44" height="48" /></a>
            </span>
        </li>
        <li class="divider"><img src="{{MEDIA_URL}}/common/images/header_divider.gif" height="32" width="2" /></li>
    </ul>
    {% endblock menu_icons %}
    {% block addToOptions %}
    options.show_panel='about';
    options.rememberMapExtent = false;
    {% endblock addToOptions %}

    {% block datalayers %}
    <div id="DataLayers"> </div>
    {% endblock datalayers %}

        {% block layersConfig %}
            madrona.addLayer('/publickml/regional_priorities_netlink.kml', {setExtent: true});
            madrona.addLayer('{% url public-data-layers %}');            

            {% if user.is_authenticated %}
            madrona.addLayer('/publickml/USFW_unpublished.kml');
            {% endif %}
        {% endblock layersConfig %}
