<VirtualHost *:80>
    ServerName SITENAME.labs.ecotrust.org

    WSGIScriptAlias / /usr/local/apps/SITENAME/deploy/wsgi.py
    WSGIDaemonProcess juniper user=www-data group=www-data threads=2 processes=2
    WSGIProcessGroup juniper

    ErrorLog "|/usr/sbin/rotatelogs /usr/local/apps/SITENAME/logs/apache-error.log 5M"
    CustomLog "|/usr/sbin/rotatelogs /usr/local/apps/SITENAME/logs/apache-access.log 5M" combined

    ServerAdmin webmaster@localhost

    DocumentRoot /var/www

    <Directory />
        Options FollowSymLinks
        AllowOverride None
    </Directory>

    <Directory /var/www/>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride None
        Order allow,deny
        allow from all
    </Directory>

    Alias /media /usr/local/apps/SITENAME/mediaroot

    <Location /tiles>
        #don't gzip tile images
        SetEnvIfNoCase Request_URI \
        \.(?:gif|jpe?g|png)$ no-gzip dont-vary   
        Order allow,deny
        Allow from all
    </Location>

    <Location /media>
        #GZIP media files just not images or for IE6
        SetOutputFilter DEFLATE
        SetEnvIfNoCase Request_URI \
        \.(?:gif|jpe?g|png)$ no-gzip dont-vary   
        BrowserMatch \bMSIE\s6 no-gzip

        Order allow,deny
        Allow from all
    </Location>

    <LocationMatch "\.png$">
        ErrorDocument 404 /media/tiles/blank.png
    </LocationMatch>

    <LocationMatch "\.json$">
        ErrorDocument 404 /media/tiles/blank.json
        ForceType application/json
    </LocationMatch>


</VirtualHost>

#WSGIRestrictStdin Off
