SECRET_KEY = '1234567'
MEDIA_URL = 'http://hestia.ecotrust.org:8012/media/'
MEDIA_ROOT = '/usr/local/src/juniper-blm/mediaroot'
WSGI_USER = 'mperry'
SITE_ID = 1
LOGIN_REDIRECT_URL = '/'
DEBUG = True
USE_CACHE = True

MARXAN_BIN =  '/usr/local/marxan243/MarOpt_v243_Linux32'

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.filebased.FileBasedCache',
        'LOCATION': '/var/tmp/django_cache',
    }
}
