{% extends 'common/panel.html' %}
{% block panel %}

<style>
    div.about {
            font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
            font-size: 12px;
            margin: 10px;
            padding: 0;
            color: #4C4C4C;
    }
    .about > li { padding: 6px;}
    .subabout > li { list-style-type: circle; } 
</style>

<div class="about">
<h2>Watershed Priorities Tool</h2>
<h4>An aquatic habitat restoration decision support system for Oregon, Washington, and Idaho</h4>
<p>
Ecotrust and the Pacific Region of the U.S. Fish and Wildlife Service (USFWS) have partnered to develop an aquatic habitat restoration decision support system for Oregon, Washington, and Idaho. This system will enable USFWS to engage in strategic planning and program delivery of aquatic habitat conservation and restoration priorities in the Pacific Northwest.
</p>
<p>
The decision support system will prioritize watersheds for conservation and restoration of freshwater habitats to ensure the long-term sustainability of the region’s fisheries resources by allowing evaluation of variables related to invasive species and climate change and how such variables affect regional priorities.
</p>
<h2> Using the Demo </h2>
<p>
    <li> <strong>Watershed Prioritization Tool</strong>. Go to 'Create New &gt; Watershed Prioritization' to start. From here you can enter:
 <ul class="subabout">
     <li>The <strong>goal</strong> or proportion of habitat to conserve for each species.</li>
     <li>The <strong>importance weighting</strong> which indicates the relative importance of each species.</li>
     <li>The inclusion of <strong>prioritization constraints</strong> such as climate change, invasives and watershed impairment.</li>
  </ul>
  The process will run in the background; you can continue to use the application and will be notified when the processing is completed. At that time you can click the 'refresh' button to view the results of the analysis. Selecting the analysis and clicking 'Attributes' will provide the details of the analysis and the resulting reserve scenario. </li>

  </ul>
  </p>
</div>
{% endblock panel %}
