<div>
<h2>Watershed Priorities Tool</h2>
<h4>An aquatic habitat restoration decision support system for Oregon, Washington, and Idaho</h4>
<p>
Ecotrust and the Pacific Region of the U.S. Fish and Wildlife Service (USFWS) have partnered to develop an aquatic habitat restoration decision support system for Oregon, Washington, and Idaho. This system will enable USFWS to engage in strategic planning and program delivery of aquatic habitat conservation and restoration priorities in the Pacific Northwest.
</p>
<p>
The decision support system will prioritize watersheds for conservation and restoration of freshwater habitats to ensure the long-term sustainability of the region’s fisheries resources by allowing evaluation of variables related to invasive species and climate change and how such variables affect regional priorities.
</p>
<p>
The software will be built on the MarineMap platform which, in turn, makes use of GeoDjango, PostGIS and the Google Earth API. 
</p>
</div>
